<li class="card">
    <img class="card__img" src="<%= image %>" alt='Carátula de <%= title %>' />
    <h3 class="card__title">
        <%= title %>
    </h3>
    <p class="card__description">Género: <%= gender %>
    </p>
</li>